h1{
  background-color: lightgray;
  color:crimson;
  padding: 50px;
  text-align: center;
}

p1{
  background-color: grey;
  size: 20px;
  body {
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}



body{
  background-color: darkslategray;
}