
img {
  width: 320px;
  height: 420px;
  padding-right: 3cm;
}

.item {
  border: 10px solid darkred;
  display: flex;
  margin: auto;
  width: 800px;
  margin-bottom: 20px;
  background-color: darkgrey;
  font-size: 20px;
}

.title {
  text-align: center;
  font-size: 80px;
  
}